<h1>Add an activity:</h1>

<form method="post" action="/activities">

  <div>
    <label for="activity">Activity:</label>
    <input type="text" name="activity" id="activity"/>
  </div>

  <div>
    <label for="instructor">Instructor:</label>
    <input type="text" name="instructor" id="instructor"/>
  </div>

  <div>
    <label for="day">Days/s:</label>
    <input type="text" name="day" id="day"/>
  </div>

  <div>
    <label for="start_time">Start time:</label>
    <input type="text" name="start_time" id="start_time"/>
  </div>

  <div>
    <label for="capacity">Capacity:</label>
    <input type="text" value="0" name="capacity" id="capacity"/>
  </div>

  <div>
    <input type="submit" value="Add activity"/>
  </div>

</form>
