<!DOCTYPE html>
<html>
<head>
  <title>AllGym Project</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
<main>
  <div class="flex-container">
    <div>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/members">Members</a>
        </li>
        <li>
          <a href="/activities">Activities</a>
        </li>
        <li>
          <a href="/bookings">Bookings</a>
        </li>
      </ul>
    </nav>
    </div>
    <div class="content">
      <div>
        <section id="content">
          <%= yield %>
        </section>
      </div>
    </div>
  </div>
</main>
</body>
</html>
