<!DOCTYPE html>
<html>
<head>
  <title>AllGym Project</title>
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/members">Members</a>
      </li>
      <li>
        <a href="/activities">Activities</a>
      </li>
      <li>
        <a href="/bookings">Bookings</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
