body {
  background: white url('/images/gym_background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

a {
  color: white;
}

h1 {
  font-size: 40px;
  text-align: center;
  border: 5px solid white;
  background: black;
}

ul {
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  border: 5px solid white;
  background: black;
}

nav {
  margin: 10px 10px 10px;
}

table, form {
  text-align: center;
  text-transform: uppercase;
  border: 5px solid white;
  background: black;
}

.flex-container, .content {
  display: inline-flex;
  flex-flow: row;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
